@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mulish';
	font-weight: 300;
	color: #1F1534;
}

.container {
	padding: 24px 60px 0 60px;
	width: 1366px;
	margin: auto;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-items a {
	text-decoration: none;
	margin-right: 40px;
}

.active {
	font-weight: 700;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 84px;
}

.txt-heading {
	width: 445px;
}

.txt-heading h1 {
	font-size: 48px;
	line-height: 56px;
	color: black;
	font-weight: 700;
	margin-bottom: 25px;

}

.txt-heading p {
	color: #7D7987;
	font-size: 21px;
	line-height: 32px;
	margin-bottom: 45px;
}

.btn {
	padding: 0 40px;
	font-size: 18px;
	font-weight: 700;
	border: none;
	border-radius: 55px;
	line-height: 60px;
}

.btn-primary {
	color: #ffffff;
	background-color: #458FF6;
}